/*CSS DOCUMENT*/

@import url("https://use.typekit.net/umm6wqp.css");

body{
    max-width: 30em;
}

div.container{
    max-width: 25em;
    margin: auto; 
}

.logo{
  max-width: 20em;
  padding: 2em 0em 0em 0em;
}

a:link {
  font-family: brandon-grotesque, sans-serif;
  color: rgb(82 106 130);
  text-decoration: none; 
  float: left;
  margin: 0em 2em 2em 2em ;
    
}

a:visited {
  color: rgb(82 106 130);
  
}

a:hover {
  color: rgb(132 139 145);
}


h1 {
      color: rgb(46, 49, 97);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-size:2em;
    text-align: center;
    padding: 0em 6em 0em 6em;
    
   }

h2 {
    color: rgb(46, 49, 97);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-size:1.2em;
    text-transform: uppercase;
    padding: 3em 0em 1em 0em;
    text-align: center;
   }

h3 {
    color: rgb(46, 49, 97);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-size:1em;
    text-align: center;
   }

h4 {
      color: rgb(46, 49, 97);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-size:1.2em;
    line-height: 0em;
    padding: 2em 0em 0em 0em;
   }

p{
    color: rgb(0 0 0);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    padding: 0em 0em 0em 3em;
    
    
}

img {
max-width: 30em;
padding: 0em 0em 3em 0em;

}


li{
    list-style: none;
    line-height: 1.4em;
    padding: 0em 0em 0em 0em;
    
}
